<header>
  <%= render "layouts/logo_and_drop_down_menu" %>
</header>
<div id="assistants" data-controller="radio-behavior" data-radio-behavior-selected-class="relationship">
  <p class="text-xs font-semibold text-gray-300 text-opacity-1 dark:text-gray-500">Assistants</p>
  </br>
  <%= render @nav_assistants %>
  </br>
</div>

<div data-controller="modal">
  <button data-action="modal#open" class="inline-block font-bold
              bg-gray-200 dark:bg-gray-900
              border border-gray-400
              rounded-lg py-3 px-5
              cursor-pointer">Start New Process</button>

  <dialog data-modal-target="dialog" style="width:600px;background-color: black;color: white">
    <div style="padding:15px;">
      <button type="button" data-action="modal#close" class="absolute top-4 right-4">X</button>
      <%= form_tag("/start_new_process", :method => "get", :remote => true) do %>
        <h1>Enter the Process you want to run and the name</h1>
        <hr>
        </br>
        <%= select_tag "prompt_process_id", options_for_select(PromptProcess.all.collect { | prompt_process | [prompt_process.name, prompt_process.id] }), include_blank: "Select Process...", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
        </br>
        <%= text_field_tag "conversation_process_name", "New Chat", class: "text-gray-950", style: "width:570px" %>
        </br>
        </br>
        <h1>Enter your Google Sheets and Documents URL</h1>
        <hr>
        </br>
        <%= label_tag("google_sheet_1_url", "MS Summary Sheet - [SHEET1,column,row]:") %>
        <%= text_field_tag "google_sheet_1_url", nil, class: "text-gray-950", style: "width:570px" %>
        </br>
        </br>
        <%= label_tag("google_sheet_2_url", "User Persona Sheet - [SHEET2,column,row]:") %>
        <%= text_field_tag "google_sheet_2_url", nil, class: "text-gray-950", style: "width:570px" %>
        </br>
        </br>
        <%= label_tag("google_doc_1_url", "AI Overview Doc -  [DOC1]:") %>
        <%= text_field_tag "google_doc_1_url", nil, class: "text-gray-950", style: "width:570px" %>
        </br>
        </br>
        <%= label_tag("google_doc_2_url", "SERP Analysis Doc - [DOC2]:") %>
        <%= text_field_tag "google_doc_2_url", nil, class: "text-gray-950", style: "width:570px" %>
        </br>
        </br>
        <%= hidden_field_tag "assistant_id", params[:conversation_id].present? ? Conversation.find(params[:conversation_id]).assistant.id : params[:assistant_id] %>
        <%= submit_tag "Start Process", class: "bg-transparent text-white-700 font-semibold py-2 px-4 border border-gray-500 rounded cursor-pointer" %>
        <!-- button type="button" class="bg-transparent hover:bg-white-500 text-white-700 font-semibold hover:text-white py-2 px-4 border border-gray-500 hover:border-transparent rounded">Send</butto -->
      <% end %>
    </div>
  </dialog>
</div>




<section class="text-gray-950 dark:text-gray-100 select-none">
  <turbo-frame  id="conversations"
                target="conversation"
                data-controller="radio-behavior"
                data-radio-behavior-selected-class="relationship"
                class="block mb-24" <%# ensures the last conversation's menu has room to open %>
  >
    <% @nav_conversations.each do |named_time_span, conversations| %>
      <header class="mx-2 mt-10 mb-2 text-xs font-semibold text-gray-300 text-opacity-1 dark:text-gray-500">
        <%= named_time_span %>
      </header>

      <%= render conversations %>
    <% end %>
  </turbo-frame>
</section>
