<div class='flex flex-col items-center justify-center w-full h-screen space-y-4'>

  <div class="p-3 bg-black rounded-full">
    <%= image_tag("bsmai.png", width: "144", height: "144", class: "text-gray-950") %>
  </div>

  <!-- h2 class='text-3xl font-semibold'>It’s good to see you again</h2 -->

  <span class='text-sm text-center'>
    Don't have an account? <%= link_to "Sign up", register_path, class: "underline" %>
  </span>

  <%= form_with(url: login_path, method: :post, class: "flex flex-col space-y-4 w-80") do |f| %>
    <%= f.email_field :email,
      value: params[:email],
      id: "email",
      autofocus: params[:email].present? ? false : true,
      placeholder: "Email address",
      class: "border border-gray-400 rounded p-3 dark:text-black"
    %>
    <%= f.password_field :password,
      id: "password",
      autofocus: params[:email].present? ? true : false,
      placeholder: "Password",
      class: "border border-gray-400 rounded p-3 dark:text-black"
    %>
    <%= f.submit "Log In",
        class: %|
          text-white font-medium
          bg-brand-blue dark:bg-gray-900
          border border-white dark:border-gray-400
          rounded-lg p-4 text-center
          cursor-pointer
          hover:opacity-95
        |,
        data: { turbo_submits_with: "Authenticating..." }
    %>
  <% end %>
</div>
<div id="preloader">
  <div id="loader"></div>
</div>
<style>
  body {
    overflow: hidden
  }
  #preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url( https://bsmai.s3.us-east-2.amazonaws.com/background.jpg );
    z-index: 99; /* makes sure it stays on top */
  }
  #loader {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%; /* centers the loading animation horizontally one the screen */
    top: 50%; /* centers the loading animation vertically one the screen */
    background-image: url( https://bsmai.s3.us-east-2.amazonaws.com/loader.gif ); /* path to your loading animation */
    background-repeat: no-repeat;
    background-position: center;
    margin: -150px 0 0 -150px /* is width and height divided by two */
  }
</style>
<script>
  $(window).on( 'load', function() { // makes sure the whole site is loaded 
    $( '#loader' ).delay( 700 ).fadeOut( 'slow' ); // will first fade out the loading animation 
    $( '#preloader' ).delay( 700 ).fadeOut( 'slow' ); // will fade out the white DIV that covers the website. 
    $( 'body' ).delay( 800 ).css( { 'overflow': 'visible' } );
  })
</script>

