<%= form_with(model: [:settings, assistant], class: "contents") do |form| %>
  <% if assistant.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(assistant.errors.count, "error") %> prohibited this assistant from being saved:</h2>

      <ul>
        <% assistant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full dark:text-black" %>
  </div>

  <div class="my-5">
    <%= form.label :model %>
    <%= form.text_field :model, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full dark:text-black" %>
  </div>

  <div class="my-5">
    <%= form.label :instructions %>
    <%= form.text_area :instructions,
      class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full dark:text-black h-18",
      data: { controller: "textarea-autogrow" }
    %>
  </div>

  <div class="my-5">
    <%= form.label :api_key %>
    <%= form.text_field :api_key, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full dark:text-black" %>
  </div>

  <div class="my-5">
    <%= form.label :api_url %>
    <%= form.text_field :api_url, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full dark:text-black" %>
  </div>

  <div class="my-5">
    <%= form.label :api_protocol %>
    <%= form.select :api_protocol, Assistant::API_PROTOCOLS, {:include_blank => false}, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full dark:text-black" %>
  </div>

  <div class="my-5">
    <%= form.label :supports_system_message %>
    <%= form.check_box :supports_system_message, {}, form.object.supports_system_message == 0 ? false : true %>
  </div>

  <div class="my-5">
    <%= form.label :supports_images %>
    <%= form.check_box :supports_images, {}, form.object.supports_images == 0 ? false : true %>
  </div>

  <%= form.submit "Save",
    class: %|
      inline-block font-medium
      bg-gray-200 dark:bg-gray-900
      border border-gray-400
      rounded-lg py-3 px-5
      cursor-pointer
    |,
    data: { turbo_submits_with: "Saving..." }
  %>
<% end %>
