<head>
  <title><%= yield(:title) %></title>

  <%= capybara_lockstep if defined?(Capybara::Lockstep) %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/daisyui@4.6.0/dist/full.min.css" %>
  <%# daisyui (^) is declared above application (v) so we can override classes from it %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", 'https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap', "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <%= turbo_refreshes_with method: :morph, scroll: :preserve %>

  <!-- PWA -->
  <link rel="manifest" href="/manifest.json">
  <!-- ios-pwa-splash screen: from https://github.com/avadhesh18/iosPWASplash -->
  <%= javascript_include_tag "https://unpkg.com/ios-pwa-splash@1.0.0/cdn.min.js" %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" %>
  <%= javascript_tag do %>
    iosPWASplash('/apple-touch-icon.png', '#ffffff')
  <% end %>
  <!-- /ios-pwa-splash screen-->
  <!-- /PWA -->

  <%= render 'application/head/favicons' %>
  <%= render 'application/head/meta_tags' %>
  <%= content_for :head %>
</head>
<div id="preloader">
  <div id="camera"></div>
</div>
<style>
  body {
    overflow: hidden
  }
  #preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url( https://bsmai.s3.us-east-2.amazonaws.com/background.jpg );
    z-index: 99; /* makes sure it stays on top */
  }
  #camera {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%; /* centers the loading animation horizontally one the screen */
    top: 50%; /* centers the loading animation vertically one the screen */
    background-image: url( https://bsmai.s3.us-east-2.amazonaws.com/loader.gif ); /* path to your loading animation */
    background-repeat: no-repeat;
    background-position: center;
    margin: -150px 0 0 -150px /* is width and height divided by two */
  }
</style>
<script>
  $(window).on( 'load', function() { // makes sure the whole site is loaded 
    $( '#camera' ).delay( 350 ).fadeOut( 'slow' ); // will first fade out the loading animation 
    $( '#preloader' ).delay( 350 ).fadeOut( 'slow' ); // will fade out the white DIV that covers the website. 
    $( 'body' ).delay( 550 ).css( { 'overflow': 'visible' } );
  })
</script>
