<% selected = false %> <!-- prompt_process == @prompt_process % -->
<div
  class="
          rounded-lg mr-5 cursor-pointer group
          hover:bg-gray-100 dark:hover:bg-gray-700
          relationship:bg-gray-200 dark:relationship:bg-gray-700
          mb-px
          <%= selected && 'relationship' %>
        "
  data-role="prompt_process"
  data-radio-behavior-target="radio"
  data-radio-behavior-also-select-id="<%= @prompt_process.id %>"
>
  <turbo-frame id="prompt_process-<%= @prompt_process.id %>" class="flex-1 flex justify-between items-center">

    <%= link_to @prompt_process.name.presence || "New Process",
      prompt_editor_prompts_path(prompt_process_id: @prompt_process.id),
      class: "flex-1 pl-2 py-2 truncate text-sm text-opacity-1 w-5 radio-behavior",
      data: {
        turbo_frame: "prompts",
        action: "radio-behavior#select",
        role: "name"
      }
    %>

    <div class="items-center hidden gap-2 pl-2 relationship:flex group-hover:flex">
      <%= link_to edit_prompt_editor_prompt_process_path(@prompt_process),
        data: {
          controller: "nested-pointer",
          action: "nested-pointer#addParentClickable",
          role: "edit"
        },
        class: %|
          cursor-pointer
          invisible group-hover:visible
          hover:text-gray-600 dark:hover:text-gray-300
      | do %>
        <%= icon "pencil",
          variant: :outline,
          size: 16,
          title: "Rename",
          tooltip: :top
        %>
      <% end %>

      <div class="dropdown !inline-flex dropdown-end outline-none pr-2">
        <%= icon "chevron-down",
          tabindex: 0,
          role: :button,
          variant: :outline,
          size: 22,
          class: %|
            outline-none cursor-pointer group-hover:visible
            hover:text-gray-600 dark:hover:text-gray-300
            focus:text-gray-600 dark:focus:text-gray-300
          |,
          data: {
            controller: "nested-pointer",
            role: "options"
          },
          title: "Options",
          tooltip: :top
        %>

        <menu tabindex="0" class="dropdown-content z-10 menu p-2 shadow-xl bg-base-100 rounded-box w-52 mt-7 dark:text-white dark:!bg-gray-700" data-controller="nested-pointer">
          <li>
            <%= button_to prompt_editor_prompt_process_path(@prompt_process),
              method: :delete,
              data: {
                role: "confirm-delete",
              },
              form: {
                class: "inline-block p-0",
                data: { turbo_frame: "_top" },
              },
              class: "flex gap-2 w-full py-2 px-4" do
            %>
              <%= icon "trash", variant: :outline, size: 18 %>Delete
            <% end %>
          </li>
          <li>
            <%= button_to duplicate_prompt_editor_prompt_process_path(@prompt_process),
              method: :get,
              data: {
                role: "duplicate",
              },
              form: {
                class: "inline-block p-0",
                data: { turbo_frame: "_top" },
              },
              class: "flex gap-2 w-full py-2 px-4" do
            %>
              <%= icon "document", variant: :outline, size: 18 %>Duplicate
            <% end %>
          </li>
        </menu>
      </div>

    </div>
  </turbo-frame>
</div>