<% content_for :title, "Prompt Editor — BSMAI" %>
<% content_for :nav_column do %>
  <header class="pl-2 py-7 text-3xl relative">
    <div style="padding: 10px 10px;">
        <select onChange="self.location=this.options[this.selectedIndex].value" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option value="<%= root_path %>"><%= "Run MS Process" %></option>
            <option value="<%= prompt_editor_prompts_path(prompt_process_id: PromptProcess.first.id) %>" selected><%= "Prompt Editor" %></option>
            <option value="<%= edit_settings_assistant_path(Current.user.assistants.first) %>"><%= "Settings" %></option> 
        </select>
    </div>
  </header>
  <section id="menu" data-controller="radio-behavior" data-radio-behavior-selected-class="relationship">
    <% @settings_menu.each do |controller, prompt_editor_items| %>
      <div class="mb-5">
        <%= render partial: "layouts/prompt_editor_item", collection: prompt_editor_items, locals: { controller: controller } %>
      </div>
    <% end %>
  </section>
<% end %>

<% content_for :main do %>
  <header class="absolute right-0 ml-2 mt-2 mb-3 h-10 text-lg">
    <%= link_to root_path, class: "block cursor-pointer inline-flex mr-3 px-2 py-2 group" do %>
      <%= icon "x-mark",
            variant: :outline,
            size: 22,
            class: %|
              stroke-2
              text-zinc-600 group-hover:text-zinc-900 dark:text-zinc-400 dark:group-hover:text-white
            |,
            title: "Close",
            tooltip: :left
      %>
    <% end %>
  </header>

  <section class="flex flex-col flex-grow overflow-y-auto overflow-x-clip">
    <div class="w-full md:max-w-none lg:max-w-[700px] xl:max-w-[810px] mx-auto mt-2 py-7 px-10 pr-14">
      <%= yield %>
    </div>
  </section>
<% end %>

<%= render template: "layouts/application" %>